.navbar-brand{
    letter-spacing: .5px;
}

.nav-link{
    transition: .25s;
}

.nav-link:hover{
    color:#dc3545 !important;
}

.input-group{
    background:white;
    border-radius:50px;
}

.form-control:focus{
    box-shadow:none;
}

.dropdown-toggle::after{
    display:none;
}

.dropdown-toggle{
    transition:.3s;
}

.dropdown-toggle:hover{
    box-shadow:0 .5rem 1rem rgba(0,0,0,.15);
}

.btn-danger{
    border-radius:0;
}

/* Landing Page */
.hero{
    background:linear-gradient(135deg,#fff5f5,#ffe8ec);
}

.hero-img{
    max-height:550px;
    object-fit:cover;
}

.card{
    transition:.3s;
}

.card:hover{
    transform:translateY(-8px);
}

.btn{
    transition:.3s;
}

.btn:hover{
    transform:translateY(-2px);
}



/* Footer */

.footer-link{
    text-decoration:none;
    color:#adb5bd;
    transition:.3s;
}

.footer-link:hover{
    color:#ff385c;
}

.social-icon{
    color:#adb5bd;
    transition:.3s;
}

.social-icon:hover{
    color:#ff385c;
    transform:translateY(-3px);
}
